#fresh
    background-color: #08cbc40c
    .textbox
        display: flex
        flex-direction: column
        align-content: flex-start
        justify-content: center
        height: auto
        h1
            margin: 0 0 30px 0
            color: #08cbc5
            font-size: 80px 
            font-weight: 700
            line-height: 70px
        h2
            
            color: #888888
            font-size: 20px

        .btn
            margin: 30px 0 0 0
            width: 170px
            border-radius: 8px
            background-color: #08cbc5
            background-image: url(images/assets/img34.svg) 
            h2
                color: #ffffffe8
                font-size: 25px

    .imgbox
        height: auto
        justify-content: center 
        align-items: center 
    
    @media (max-width: 576px) 
        .textbox
            display: flex 
            justify-content: center 
            align-items: center 
            text-align: center 
        .imgbox 
            height: auto 
            margin-top: 40px 
    @media (max-width: 992px) 
        .col-md-6
            display: flex
            align-items: center 
            justify-content: center
            width: 100%
            display: flex
            .textbox
                display: flex 
                justify-content: center 
                align-items: center 
                text-align: center 
            .imgbox 

                height: auto 
                margin-top: 40px 



