header
    margin: 20px 0 0 0
    .menu
        display: flex
        justify-content: space-between
        img
            width: 50px   
        nav
            align-content: center
            a
                color: #000000
                font-size: 22px
                margin-left: 10px
                
                span
                    color: #08cbc5
