#howitworks
    .col-md-12
        h1
            text-align: center
            color: #08cbc5
            font-weight: 700
            font-size: 70px
    .textbox
        text-align: center
        h1
            font-weight: 700
            font-size: 25px
            margin: 0 0 15px 0
        h2
            font-size: 20px
            color: #88888888
        



