#order
    .col-md-6
        display: flex
        align-items: center
        justify-content: center
        .textbox
            h1
                color: #08cbc5
                font-weight: 700
                font-size: 45px 
                margin: 0 0 20px 0
            h3
                color: #88888888
                margin: 0 0 30px 0
            .btn
                color:  #ffff
                background-color: #08cbc5
                background-image: url(images/assets/img34.svg) 
