#support
    .box
        width: 100%
        .textbox
            display: flex
            flex-direction: column
            justify-content: center
            align-items: flex-start
            padding: 0 40px
            width: 100%
            background-color: #08cbc5
            background-image: url(images/assets/img32.svg)
            background-size: 200%
            h1
                color: #fff
                font-weight: 700
                font-size: 65px
                margin: 0 0 20px 0
                span
                    color: #0e706b
            .btn
                color: #08cbc5
                background-color: #fff
                border: 1px solid #064a47
    @media (max-width: 992px)
            .container
                display: flex
                width: 100%
                max-width: 100%
                .row
                    .col-md-6
                        width: 100%
                        display: flex
                        .imgbox
                            display: flex
                            height: 250px
                            width: 100%
                            img
                                height: 380px
                                object-fit: cover
                                display: flex
                        .box
                            display: flex
                            width: 100%
                            height: 100%
                            .textbox 
                                padding: 60px 15px  
                                margin-top: 15px
                                h1 
                                    font-size: 40px
                                    width: 50%
    @media (max-width: 576px)
            .col-md-6
                width: 100%
                padding: 0 20px
            .imgbox
                height: 400px
                width: 100%
                img
                    width: 100%
                    object-fit: cover
                    display: block
            .textbox 
                height: 400px
                padding: 25px 20px