#support
    padding: 60px 0
    .imgbox
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden   
        img
            width: 100%
            max-width: 450px
            height: auto
            display: block
            border: 6px solid #fff
            box-sizing: border-box
    .textbox
        h1
            font-size: 40px
            font-weight: 700
            span
                color: #08cbc5
        .btn
            margin-top: 20px
            display: inline-block
    @media (max-width: 992px)
            .row
                display: flex
                flex-direction: column   
            .img
            .text
                width: 100%
                max-width: 100%
                flex: 0 0 100%
            .imgbox
                margin-bottom: 20px
                img
                    width: 100%
                    max-width: 100%
                    border: 3px solid #ffff
            .textbox
                text-align: center
                h1
                    font-size: 28px