#support
    .box
        display: flex
        align-items: center
        justify-content: center
        padding: 0 40px 
        height: 100%
        background-color: rgba(53, 185, 190)
        background-image: url(images/assets/img32.svg)
        background-size: 200%
        h1
            color: #ffff
            font-weight: 700
            font-size: 65px 
            margin: 0 0 20px 0
            span
                color: #0e706b
        .btn
            color: rgba(53, 185, 190)
            background-color: #ffff
            border: 1px solid #064a47

